/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
body{
  overflow-x: hidden;
  overflow-y: scroll;
}

.navbar {
  width: 86%;
  height: 80px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border-bottom: 1px solid #eee;
}

 
.navbar-logo img {
  height: 40px;
  cursor: pointer;
}


.navbar-name {
  display: flex;
  gap: 32px;
}

.navbar-name a {
  text-decoration: none;
  font-family:  Tahoma;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  transition: color 0.3s ease;
}
 
.navbar-btn button {
  padding: 12px 22px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: rgb(70, 145, 101);
 
}

 .heroPicturesSection{
    background-image: url('./assets//hero-bg.png');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
 
    .circleimgandtext img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
     .circleimgandtext{
        display: flex;
        padding: 10px 10px;
        gap: 3px;
        align-items: center;
        justify-content: center;
        color: rgb(70, 145, 101);
        font-size: 15px;
        font-weight: 300;
        background: #ffffff;
        width: 180px;
        height: 20px;
        border-radius: 30px;
        margin: auto;
     }
     .text-section h1{
        color: white;
        text-align: center;
        font-family: 'Tahoma', sans-serif;
        display: block;
     } 
        .text-section span{
            color: rgb(70, 145, 101);
            margin-left: 40px;
            font-family: 'Tahoma', sans-serif;
            display: block;
        }
        .text-section p{
            width: 660px;
            color: white;
            line-height: 1.9;
            text-align: center;
            font-family: 'Tahoma', sans-serif;
            display: block;
        }
        .text-section .buttonsection {

              display: flex;
              
              gap: 20px;
              margin: auto;
              justify-content: center;
              margin-top: 20px;
              button {
                width: 30%;
                height: 40px;
                font-size: 14px;
                font-weight: 200;
                border-radius: 4px;
                border: none;
                cursor: pointer;
                color: #fff;
               margin: auto;
                background-color: rgb(70, 145, 101);
              }
                 button img{
                    margin-left: 8px;
                    margin-bottom: -6px;
                  
                 }
           .worksButton{
            background-color:transparent;
            border: 1px solid white;
             gap: 2px;
           }

                
              }
        }
 
  .text-area{
    width: 600px;
    margin: auto;
    text-align: center;
   
     p{
 
       margin-bottom: -40px;
    
     }
 }
    

.middlebar .note-section {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    gap: 20px;
     
    margin-top: 40px;
    .note{
        width: 300px;
        height: 200px;
        background-color: #f5f5f5;
        border-radius: 10px;
        background: white;
        text-align: center;
        padding: 20px;
        margin-top: 30px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        img{
          background-color: #F95B5B;
          border-radius: 50%;
          align-items: center;
           width: 30px;

        }
    }
  
    }

 
 .brain-section {
  width: 100%;
  margin-left: 7%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  .picture-section {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    img {
      max-width: 100%;
      height: 700px;
    }
  }
  .text-section {
    width: 100%;
    height: 100%;
 
    .solution-text {
      font-size: 13px;
     color: rgb(70, 145, 101);

    }
     h1{
      font-size: 30px;
      width: 300px;
     }
     .text-arear-paragraph{
      width: 550px;
     }

     .p-section{
      margin-top: 20px;
     }
     p{

      display: flex;
      align-items: center;
      gap: 10px;
      line-height: 1.2;
     }
  }
 }

.early-acess-section{
  width: 80%;
  margin: auto;
  height: 250px;
  background: rgb(219, 219, 219);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
     .text-section{
      text-align: center;
      h1{
        font-weight: 600;
      }
      button{
        width: 180px;
        height: 40px;
        font-size: 14px;
        font-weight: 200;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        color: #fff;
        background-color: rgb(70, 145, 101);
        img{
          margin-left: 8px;
          margin-bottom: -6px;
        }
      }
     }
}

.footer-section {
  background: rgb(0, 25, 49);
  width: 100%;
  height: 400px;
  color: white;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forwidth {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-picture-section img {
  width: 160px;
}

.footer-social-section h2 {
  margin-bottom: 15px;
}

.social-icons i {
  font-size: 20px;
  margin-right: 12px;
  cursor: pointer;
}


.footer-line {
  width: 90%;
  border: none;
  height: 1px;
  background-color: white;
  margin-top: 40px;
}

 h4{
  font-weight: 800;
 }